<h2>
    گارانتی شرکتی می سرویس
</h2>
<table style="width: 100%">
    <tr>
        <td style="width: 33%;">
            <a href="{% url 'contactus' %}">
                تماس با ما
            </a>
        </td>
        <td style="width: 33%;">
            <a href="{% url 'inquiry' %}">
                استعلام گارانتی
            </a>
        </td>
        <td style="width: 33%;">
            <a href="{% url 'termsofservice' %}">
                شرایط گارانتی
            </a>
        </td>
    </tr>
</table>
<p></p>