{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'mi_service/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="navbar">
        {% include "header.html" %}
    </div>

    <div class="main">
        <div class="bgdiv">
            <p style="height: 70px"></p>
            <h1 style="text-align:center;">شیائومی</h1>
            <p>شیائومی یک شرکت الکترونیک متعلق به بخش خصوصی است و مقر آن در پکن قرار دارد. این شرکت یکی از بزرگترین شرکت‌های الکترونیک در زمینه طراحی، توسعه، و فروش گوشی‌های هوشمند، برنامه‌های تلفن همراه و لوازم مصرفی الکترونیک است. از ابتدای انتشار اولین گوشی‌های هوشمند در ماه اوت ۲۰۱۱، توانست سهم بزرگی از بازار را در چین به دست آورد و آن را به طیف وسیع تری از لوازم الکترونیکی مصرفی گسترش دهد. بنیانگذار و مدیر عامل شرکت لی جون، بیست و سومین مرد ثروتمند چین بر طبق اعلام مجله فوربس است. این شرکت تاکنون بیش از ۳۰۰۰ کارمند، به‌طور عمده در چین، هند، سنگاپور، استخدام کرده و در حال گسترش به کشورهای دیگر مانند روسیه و اندونزی است</p>
            <p>گارانتی  <span style="color: red"> می سرویس </span> شامل گوشی، تصویه هوا، پنکه، هندزفری، هدفون، اسپیکر، مچ بند، ساعت، پاوربانک و ترازوی شرکت بزرگ شیائومی می‌شود</p>
        </div>
        <div class="bgimg" style="background-image: url('{% static 'mi_service/img/xiaomi.jpeg' %}'); height: 100%">
        </div>

        <div class="bgdiv">
            <h1 style="text-align:center;">درما</h1>
            <p>شرکت فلایینگ-فیش آلمان با برند تجاری درما در سال 1990 در راستای تولید محصولات لوازم خانگی تاسیس گردید. هدف این مجموعه تولید محصولات با کیفیت با حداقل هزینه برا ی زندگی بهتر و راحت‌تر با صرفه جویی در زمان برای مصرف کنندگان است. مجموعه درما در 10 کشور دنیا از جمله کشور چین خط تولید محصولات خود را راه اندازی کرده است و هم‌اکنون از زیر مجموعه های برند شیائومی کشور چین محسوب می‌گردد </p>
            <p>گارانتی  <span style="color: red"> می سرویس </span> شامل جارو شارژی، جارو برقی، بخارشور، دستگاه رطوبت ساز، اتو بخار، مخلوط کن و خرد کن شرکت درما می‌شود</p>
        </div>
        <div class="bgimg" style="background-image: url('{% static 'mi_service/img/deerma.jpeg' %}'); height: 100%">
        </div>

        <div class="bgdiv">
            <h1 style="text-align:center;">میجیا</h1>
            <p>برند میجیا یکی از زیر برندهای اختصاصی شیائومی باشد که به تولید انواع و اقسام محصولات هوشمند خانگی، سنسورهای خانه هوشمند، جاروبرقی های هوشمند و لوازم خانگی دیگر فعالیت دارد. کلیه محصولات هوشمند این برند از اینترنت هوشمند آی او تی پشتیبانی می کنند و به اپلیکیشن متصل می شوند به طوری که شما می توانید از طریق اپلیکیشن محصول خود را کنترل کنید</p>
            <p>گارانتی  <span style="color: red"> می سرویس </span> شامل جارو شارژی، پلوپز، سشوار، ماشین اصلاح مو و صورت، لامپ هوشمند و دوربین شرکت میجیا می‌شود</p>
        </div>
        <div class="bgimg" style="background-image: url('{% static 'mi_service/img/mijia.jpeg' %}'); height: 100%">
        </div>

        <div class="bgdiv">
            <h1 style="text-align:center;">تی پی-لینک</h1>
            <p>تی‌پی-لینک یک شرکت تولیدکننده محصولات شبکه‌های رایانه‌ای و موبایل، بنیانگذاری ‌شده در سال ۱۹۹۶ میلادی در چین است. محصولات این شرکت شامل مسیر یاب، تجهیزات مخابراتی، سوئیچ شبکه، تجهیزات شبکه محلی بی‌سیم، مودم‌های ای‌دی‌اس‌ال و کارت شبکه می‌باشد. تی‌پی‌لینک را به عنوان دارنده بیشترین سهم بازارِ سوهو در جمهوری خلق چین می‌شناسند و در حال تبدیل شدن به سومین برند تجهیزات شبکه در دنیا می‌باشد</p>
            <p>گارانتی  <span style="color: red"> می سرویس </span> شامل مودم ها و روتر های تی پی-لینک می‌شود</p>
        </div>
        <div class="bgimg" style="background-image: url('{% static 'mi_service/img/tp-link.jpeg' %}'); height: 100%">
        </div>

        <div class="bgdiv">
            <h1 style="text-align:center;">آنر</h1>
            <p>آنر یک نام تجاری هوشمند متعلق به هواوی تکنولوژی بوده است که در 5 دسامبر 2020 با قیمت 15 میلیارد دلار فروخته شد. این شرکت بعد از تحریم آمریکا علیه هوآوی از مالکیت این شرکت بیرون آمد و هم اکنون مستقل فعالیت میکند</p>
            <p>گارانتی  <span style="color: red"> می سرویس </span> شامل مچبند و ساعت برند آنر می‌شود</p>
        </div>
        <div class="bgimg" style="background-image: url('{% static 'mi_service/img/honor.jpeg' %}'); height: 100%">
        </div>
    </div>

    <div class="footbar">
        {% include 'footer.html' %}
    </div>
{% endblock %}
