{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'mi_service/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="navbar">
        {% include "header.html" %}
    </div>

    <div style="margin-top: 10%; text-align: right" dir="rtl">
        <p> توجه مهم: لطفا هرگونه به روزرسانی نرم افزارهای محصولات با هماهنگی واحد گارانتی از طرف مشتری انجام گیرد در غیر اینصورت این واحد هیچ گونه مسئولیتی در قبال عواقب پیش آمده نخواهد داشت.</p>
        <p>توجه مهم: درصورتیکه کالای جایگزین موجود نبود با هماهنگی خریدار، کالا با مدل بالاتر تحویل میگردد و در صورت اختلاف قیمت ما به تفاوت دریافت می گردد. در مدت زمان گارانتی در صورتی که کالا نیاز به تعویض داشته باشد و کالا موجود نباشد مبلغ کالا برابر با عدد فاکتور فروش در زمان خرید پرداخت می شود.</p>
        <p>توجه مهم: ارسال دستگاه جهت استفاده از خدمات گارانتی به شرکت و برگشت آن به عهده خریدار است.</p>

        <ol dir="rtl">
            <li>     استفاده از خدمات گارانتی منوط به بررسی و تشخیص شرکت بوده و دستگاهی که کارت ضمانت، برچسب گارانتی یا شماره سریال آن مخدوش شده و یا با شماره سریال دستگاه مطابقت ندارد، شامل گارانتی نمی باشد.</li>
            <li> ضمانت فقط شامل دستگاه اصلی بوده و شامل سایر دستگاه های متصل به آن (منبع برق، کابل، حافظه) و قطعات جانبی و لوازم مصرفی، ارتقا upgrade & Downgrade، Registration ورژن نرم‌افزاری (علی‌الخصوص آپگرید محصولات غیر اینترنشنال) و نصب و راه‌اندازی اپلیکیشن کالاها و خدمات نرم‌افزاری، تنظیم یا نصب و راه‌اندازی نمی گردد.</li>
            <li> تغییر شکل فیزیکی دستگاه تحت هر شرایطی (از قبیل حرارت،ضربه، آسیب های ناشی از اقدام به تعمیر یا سرویس توسط افراد غیر متخصص، قراردادن در برابر نور مستقیم آفتاب) شامل گارانتی نمی باشد و دستگاه از گارانتی خارج می شود.</li>
            <li>ضمانت دستگاه، مربوط به عیوب ناشی از ساخت بوده و شامل ایرادات ناشی از ضربه خوردگی و نفود مایعات (بخصوص نفوذ آب به دستبندهای سلامتی و ساعت های هوشمند تحت ضمانت این شرکت) یا مواد شیمیایی، شکستگی، خراشیدگی، تغییر شکل، زنگ زدگی، نوسانات برق یا ولتاژ القایی، صدمات حین حمل، استفاده نادرست (عدم رعایت شرایط مندرج در دستورالعمل نگهداری و کارکرد)، دستکاری، تنظیم یا تعمیر توسط افراد غیر مجاز و یا بلایای طبیعی و حوادث غیر مترقبه نمی‌گردد.</li>
        </ol>
    </div>

    <div class="footbar">
        {% include 'footer.html' %}
    </div>
{% endblock %}